
/* body {
    background-image: url(./assets/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */
.image-1{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    
}

a{
    text-decoration: none;
    line-height: 1.3;
    font-size: 17px;
    color: #f64b4b;
}

.links{
    margin-left: 70%;
}

/* a:hover,
a:focus {
  text-decoration: none;
  color: #f41a1a;
} */

.bookingcontainer{
    margin-top: 10%;
}

 #header .navbar-brand {
    color: #f64b4b;
    /* text-transform: uppercase; */
    font-weight: 600;
    height: auto;
    padding: 0;
    font-size: 25px;
    line-height: 1.6;
    
  } 